
Flask==1.0.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-SocketIO==4.2.1
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
flaskwebgui==0.0.7
fpdf==1.7.2

gunicorn==19.9.0
gyp==0.1
h5py==2.9.0
html5lib==0.999999999
httplib2==0.9.2
idna==2.6
imagesize==1.1.0
ipaddr==2.2.0
ipaddress==1.0.22
ipython==5.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
isort==4.3.17
itsdangerous==1.1.0
jedi==0.13.3
Jinja2==2.10



passlib==1.7.1
pathlib2==2.3.0

