
{% extends "base.html" %}
{% block title %}Admin {% endblock title%}
{% block content %}
    <div class="content" xmlns="http://www.w3.org/1999/html">
       <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-body ">
                <h3 class="card-title">Attendance</h3>
{#                  <div class="container">#}
                      <div class="row">
                          <div class="col-sm">
                              <div class="bootstrap-demo">
                               <div class="btn-group">
                                   <button type="button" class="btn btn-success">Select</button>
                                   <button type="button" class="btn btn-default dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
{#                                       <span class="caret"></span>  <!-- caret -->#}
                                       <span class="sr-only">Toggle Dropdown</span>
                                   </button>
                                   <ul class="dropdown-menu" role="menu"> <!-- class dropdown-menu -->
                                       <li><a href="#">Facebook</a></li>
                                       <li><a href="#">Twitter</a></li><li><a href="#">LinkedIn</a></li>
                                       <li class="divider">
                                       </li><li><a href="#">Google +</a></li></ul>
                               </div>
                               <div class="btn-group">
                                   <button type="button" class="btn btn-default">Success</button>
                                   <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
{#                                       <span class="caret"></span> <!-- caret -->#}
                                       <span class="sr-only">Toggle Dropdown</span>
                                   </button>
                                   <ul class="dropdown-menu" role="menu"> <!-- class dropdown-menu -->
                                       <li><a href="#">Facebook</a></li>
                                       <li><a href="#">Twitter</a></li>
                                       <li><a href="#">LinkedIn</a></li>
                                       <li class="divider"></li>
                                       <li><a href="#">Google +</a></li>
                                   </ul>
                               </div>
                           </div>
                          </div>
                          <div class="col-sm">
                              <div class="form-group">
                                  <button class="btn btn-primary">Take Attendance</button>
                              </div>
                          </div>
                          <div class="col-sm">
                              <div class="col"  style="color:blue;text-align:right;">
                                  <div class="calendar calendar-first" id="calendar_first">
                                      <div class="calendar_header">
                                          <button class="switch-month switch-left"> <i class="fa fa-chevron-left"></i></button>
                                          <h2></h2>
                                          <button class="switch-month switch-right"> <i class="fa fa-chevron-right"></i></button>
                                  </div>
                                  <div class="calendar_weekdays"></div>
                                  <div class="calendar_content">
                                  </div>
                              </div>
                          </div>
                          </div>
                      </div>
{#                  </div>#}

              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <div class="row card-columns">
                  {% for i in rows %}
{#                     {% for x in i %}#}
                            <div class="card-deck">
                             <div class="card" style="width:190px;" >
                                 <img class="card-img-top rounded-circle" src="{{url_for('static',filename='profile.png')}}" alt="Card image cap" style="width:190px;">
                                 <div class="card-body">
                                     <h6>{{i.Firstname}}</h6>
                                     <form method="POST" action="{{url_for('Take_Attendance')}}">
                                         <input type="hidden"  name="name" value="{{i.Firstname}}">
                                         <div class="text-lg-center">
                                             <div class="form-check form-check-inline">
                                                 <input type="radio" class="radio" id="radio-1" name="inlineMaterialRadiosExample" value="Present"><span>P</span>
                                                 <label for="radio-1"></label>
                                             </div>
                                             <div class="form-check form-check-inline">

                                                 <input type="radio" class="radio" id="radio-2" name="inlineMaterialRadiosExample" value="Absent"><span>A</span>
                                                 <label for="radio-2"></label>
                                             </div>
                                             <div class="form-check form-check-inline">
                                                 <input type="radio" class="radio" id="radio-3" name="inlineMaterialRadiosExample" value="Leave"><span>L</span>
                                                 <label for="radio-3"></label>
                                             </div>
                                         </div>
                                         <div class="form-group">
                                             <button class="btn btn-success">Submit</button>
                                         </div>
                                     </form>
                                 </div>
                             </div>
                            </div>
{#                          {% endfor %}#}
                  {% endfor %}
              </div>
            <script>
                $(document).ready(function() {
                    $('#example').DataTable();
                } );
            </script>
        </div>
      </div>
    </div>
{%endblock%}