{% extends "base.html" %}
{% block title %}Admin {% endblock title%}
{% block content %}
 <div class="content"> 
       <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-body " text-color="black">
                <h1>List table Fields</h1>
              </div>
            </div>
          </div>
        </div> 
        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Add Record</h5>
              </div>
              <div class="card-title">Add Field</div>
              <div class="card-body ">
                <form action="{{url_for('insert_record')}}" method='POST'>
                 
                  <div class="form-group" style="color:black;font-size:18px;">
                   <label>Table name:</label>
                  <input type="text" name="{{table_name}}" value="{{table_name}}"><br>
                  {% for row in data_rows%}
                  <label>{{row[0]}}</label>
                  <input  name="{{row}}" class="form-control"><br>
                  {% endfor %}
                  </div>
                  <button type="submit" class="btn btn-success btn-lg">Insert</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}