
{% extends "base.html" %}
{% block title %}Admin {% endblock title%}
{% block content %}
    <div class="content" xmlns="http://www.w3.org/1999/html">
       <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-body " text-color="black">
                <h3 class="card-title">Employee list</h3>
                  <input type="button" value="CSV" class="btn btn-primary">
                  <input type="button" value="Copy" class="btn btn-success">
                  <input type="button" value="Excel" class="btn btn-default">
                  <input type="button" value="PDF" class="btn btn-secondary">
                  <input type="button" value="Print" class="btn btn-success">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
              	<table id="example" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Department</th>
                    <th>Mobile Number</th>
                    <th>Start Date</th>
                    <th>Salary</th>
                    </thead>
                    <tbody>
                    {% for i in df %}
                    <tr>
                        {% for x in i %}
                            <td>{{x}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
              </div>
              <div class="card-body ">

              </div>
            </div>
          </div>
            <script>
                $(document).ready(function() {
                    $('#example').DataTable();
                } );
            </script>
        </div>
      </div>
{% endblock %}
