
{% extends "base.html" %}
{% block title %}Admin {% endblock title%}
{% block content %}
    <div class="content" xmlns="http://www.w3.org/1999/html">
       <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-body " text-color="black">
                <h3 class="card-title">Employee Data</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <form  method="POST" action="{{url_for('Employee')}}">
              <div class="card-group">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">Add  Employee </h5>
                              <div class="form-group">
                                  <label><h6><strong>Emp ID </strong></h6></label>
                                  <input type="text" class="form-control" name="emp_id" required="True">
                              </div>
                              <div class="form-group">
                                  <label><h6><strong>TIN Number</strong></h6></label>
                                  <input type="text" name="tin_num" class="form-control" required="True">
                              </div>
                              <div class="form-group">
                                  <label><h6><strong>NSSF Number</strong></h6></label>
                                  <input type="text" name="nssf_num" class="form-control" required="True">
                              </div>
                              <div class="form-group">
                                  <label><h6><strong>Designation</strong></h6></label>
                                  <input type="text" name="designation" class="form-control" required="True">
                              </div>
                              <div class="form-group">
                                  <label><h6><strong>Employee Status</strong></h6></label>
                                  <select name="status">
                                      <option value="Permanent" name="Permanent">Permanent</option>
                                      <option value="Probation" name="Probation">Probation</option>
                                  </select>
                              </div>
                              <div class="form-group">
                                  <label><h6><strong>Joining Date</strong></h6></label>
                                  <input type="date" name="join_date" class="form-control" required="True">
                              </div>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">Personal Information</h5>
                              <div class="form-group">
                                  <label><h6><strong>First Name </strong></h6></label>
                                  <input type="text" class="form-control" name="first_name" required="True">
                              </div>
                              <div class="form-group">
                                  <label><h6><strong>Last Name</strong></h6></label>
                                  <input type="text" name="last_name" class="form-control" required="True">
                              </div>
                              <div class="form-group">
                                  <label><h6><strong>Date of Birth</strong></h6></label>
                                  <input type="date" name="date_of_birth" class="form-control" required="True">
                              </div>
                              <div class="form-group">
                                  <label><h6><strong>Marital Status</strong></h6></label>
                                  <input type="text" name="marital_status" class="form-control" required="True">
                              </div>
                              <div class="form-group">
                                  <label><h6><strong>Gender</strong></h6></label>
                                  <select name="gender">
                                      <option value="Male">Male</option>
                                      <option value="Female">Female</option>
                                  </select>
                              </div>
                              <div class="form-group">
                                  <label><h6><strong>Nationality</strong></h6></label>
                                  <input type="text" name="nationality" class="form-control" required="True">
                              </div>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">Contact Information</h5>
                              <div class="form-group">
                                  <label><h6><strong>Current Address</strong></h6></label>
                                  <textarea  class="form-control" name="current_address" required="True"></textarea>
                              </div>
                              <div class="form-group">
                                  <label><h6><strong>Mobile</strong></h6></label>
                                  <input type="text" name="mobile" class="form-control" required="True">
                              </div>
                              <div class="form-group">
                                  <label><h6><strong>Home Phone</strong></h6></label>
                                  <input type="text" name="phone" class="form-control" required="True">
                              </div>
                              <div class="form-group">
                                  <label><h6><strong>Email</strong></h6></label>
                                  <input type="email" name="email" class="form-control" required="True">
                              </div>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">Bank Information</h5>
                              <div class="form-group">
                                  <label><h6><strong>Account Name</strong></h6></label>
                                  <input type="text" name="account_name" class="form-control" required="True">
                              </div>
                              <div class="form-group">
                                  <label><h6><strong>Account Number</strong></h6></label>
                                  <input type="text" name="account_number" class="form-control" required="True">
                              </div>
                              <div class="form-group">
                                  <label><h6><strong>Bank Name</strong></h6></label>
                                  <input type="text" name="bank_name" class="form-control" required="True">
                              </div>
                              <div class="form-group">
                                  <label><h6><strong>Bank Branch</strong></h6></label>
                                  <input type="text" name="bank_branch" class="form-control" required="True">
                              </div>
                              <div class="form-group">
                                  <button class="btn btn-success">Submit</button>
                              </div>
                      </div>
                  </div>

              </div>
              </form>
          </div>
        </div>
      </div>
{% endblock %}
