{% extends "base.html" %}
{% block title %}Admin {% endblock title%}
{% block content %}
    <div class="content" xmlns="http://www.w3.org/1999/html">
       <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-body " text-color="black">
                <h3 class="card-title">Leave and Attendance</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
              	<form  method="POST" action="{{url_for('Holidays')}}">
                    <div class="row">
                        <div class="col">
                           Public Holiday<input type="text" class="form-control" name="public_holiday">
                        </div>
                        <div class="col">
                            Date<input type="date" class="form-control" name="date1">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                           Personal Event<input type="text" class="form-control" name="personal_event">
                        </div>
                        <div class="col">
                            Date<input type="date" class="form-control" name="date2">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                           Company Events<input type="text" class="form-control" name="company_events">
                        </div>
                        <div class="col">
                            Date<input type="date" class="form-control" name="date3">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                           <button class="btn btn-success">Submit</button>
                        </div>
                    </div>
                </form>
              </div>
              <div class="card-body ">
                  <h3 class="card-title">Sick Leave</h3>
                  <form method="POST" action="{{url_for('Sick_Leave')}}">
                      <div class="row">
                        <div class="col-sm">
                           Employee name
                             <select name="name">
                                      {% for i in sql_rows %}
{#                                          {% for v in i %}#}
                                               <option>{{i.Firstname}}</option>
{#                                              {% endfor %}#}
                                      {% endfor %}
                             </select>
                        </div>
                      <div class="col-sm">
                          Replacement<input type="text" class="form-control" name="replacement" placeholder="Enter firstname">
                      </div>
                        <div class="col-sm">
                            Start Date<input type="date" class="form-control" name="start_date">
                        </div>
                          <div class="col-sm">
                            End Date<input type="date" class="form-control" name="end_date">
                        </div>
                    </div>
                       <div class="row">
                           <div class="col">
                               <button class="btn btn-success">Submit</button>
                           </div>
                    </div>
                  </form>
              </div>
                   <div class="card-body ">
                  <h3 class="card-title">Vacation</h3>
                  <form method="POST" action="{{url_for('Vacation')}}">
                      <div class="row">
                        <div class="col-sm">
                           Employee name
                             <select name="name">
                                      {% for i in sql_rows %}
{#                                          {% for v in i %}#}
                                               <option>{{i.Firstname}}</option>
{#                                              {% endfor %}#}
                                      {% endfor %}
                                  </select>
                        </div>
                      <div class="col-sm">
                          Replacement<input type="text" class="form-control" name="replacement" placeholder="Enter firstname">
                      </div>
                        <div class="col-sm">
                            Start Date<input type="date" class="form-control" name="start_date">
                        </div>
                          <div class="col-sm">
                            End Date<input type="date" class="form-control" name="end_date">
                        </div>
                    </div>
                       <div class="row">
                           <div class="col">
                               <button class="btn btn-success">Submit</button>
                           </div>
                    </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
