
{% extends "base.html" %}
{% block title %}Admin {% endblock title%}
{% block content %}
    <div class="content" xmlns="http://www.w3.org/1999/html">
       <div class="row">
          <div  class="col-md-12">
               <div id="accordion">
    <div class="card">
    <div class="card-header" id="headingOne">
       <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
           Payment Records
        </button>
      </h5>
     
                  <form action="{{url_for('nssf_sub')}}" method="POST">
                       
                      <input type="submit" value="CSV"></form>
                  <input type="button" value="Copy" class="btn btn-success">
                  <input type="button" value="Excel" class="btn btn-default">
                  <input type="button" value="PDF" class="btn btn-secondary">
                  <input type="button" value="Print" class="btn btn-success">
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
      <table id="example" class="table table-striped table-bordered" style="width:100%">
                                  <thead>
                                  <th>Name</th>
                                  <th>Salary</th>
                                  <th>Paid Month</th>
                                  <th>Date of Payment</th>
                                  
                                  </thead>
                                  <tbody>
                                    {% for df in rpay_list %}
                                        <tr><td>{{df[0]}}</td><td>{{df[1]}}</td><td>{{df[2]}}</td><td>{{df[3]}}</td></tr>
                      
                      
                                    {% endfor %}
                                  </tbody>
                              </table>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
    
       <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Allowance Records
        </button>
        </h5>
        <input type="button" value="CSV" class="btn btn-primary">
        <input type="button" value="Copy" class="btn btn-success">
        <input type="button" value="Excel" class="btn btn-default">
        <input type="button" value="PDF" class="btn btn-secondary">
        <input type="button" value="Print" class="btn btn-success">
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
         <table id="example" class="table table-striped table-bordered" style="width:100%">
                                  <thead>
                                  <th>Name</th>
                                  <th>Allowance Type</th>
                                  <th>Issue Date</th>
                                  <th>Amount</th>
                                
                                  </thead>
                                  <tbody>
                                    {% for df in rallowances %}
                                        <tr><td>{{df[0]}}</td><td>{{df[1]}}</td><td>{{df[2]}}</td><td>{{df[3]}}</td></tr>
                      
                      
                                    {% endfor %}
                                  </tbody>
                              </table>
      </div>
    </div>
  </div>
    
      
    </div>
    
    </div>
       <script>
                $(document).ready(function() {
                    $('#example').DataTable();
                } );
            </script>
  </div>
</div>
          </div>
        </div>
{% endblock %}
