
{% extends "base.html" %}
{% block title %}Admin {% endblock title%}
{% block content %}
    <div class="content" xmlns="http://www.w3.org/1999/html">
       <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-body " text-color="black">
                <h3 class="card-title">Set Working Days</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
              	<form  method="POST" action="{{url_for('working_days')}}">
                   <!-- Default unchecked disabled -->
                   <div class="form-group">
                         <div class="custom-control custom-checkbox">
                             <input type="checkbox" class="custom-control-input form-control" name="day" id="defaultCheckedDisabled1" value="Sunday" >
                             <label class="custom-control-label"for="defaultCheckedDisabled1"><strong>Sunday</strong></label>
                         </div>
                         <div class="custom-control custom-checkbox">
                             <input type="checkbox" class="custom-control-input form-control" name="day" id="defaultCheckedDisabled2" value="Monday">
                             <label class="custom-control-label" for="defaultCheckedDisabled2"><strong>Monday</strong></label>
                         </div>
                         <div class="custom-control custom-checkbox">
                             <input type="checkbox" class="custom-control-input form-control" name="day" id="defaultCheckedDisabled3" value="Tuesday" >
                             <label class="custom-control-label" for="defaultCheckedDisabled3"><strong>Tuesday</strong></label>
                         </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input form-control" name="day" id="defaultCheckedDisabled4" value="Wednesday">
                            <label class="custom-control-label" for="defaultCheckedDisabled4"><strong>Wednesday</strong></label>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input form-control" name="day" id="defaultCheckedDisabled5" value="Thursday">
                            <label class="custom-control-label" for="defaultCheckedDisabled5"><strong>Thursday</strong></label>
                        </div>
                        <div class="custom-control custom-checkbox ">
                            <input type="checkbox" class="custom-control-input" name="day" id="defaultCheckedDisabled6" value="Friday">
                            <label class="custom-control-label" for="defaultCheckedDisabled6"><strong>Friday</strong></label>
                        </div>
                       <div class="custom-control custom-checkbox">
                           <input type="checkbox" class="custom-control-input" name="day" id="defaultCheckedDisabled7" value="Saturday">
                           <label class="custom-control-label" for="defaultCheckedDisabled7"><strong>Saturday</strong></label>
                       </div>
                   </div>
                    <div class="form-group">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
